html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body

        div.container
            if typeof question !== 'undefined'
                ul#Question
                    li Identifiant : #[span#idQuestion #{question._id}]
                    li Enonce : #{question.getEnonce()}
                    each choixReponse in question.getChoixReponse()
                        li ChoixReponse : #{choixReponse}
                    each reponse in question.getReponse().getListeTexteReponse()
                        li Reponse : #{reponse}
            else
                p
                    em Pas de question choisi

            br
            button.accueil Terminer la récupération
            button.modifier Modifier
            button.supprimer Supprimer


    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/cu02.js"></script>
    <script type="text/javascript" src="/lib/cu05.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>